<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:Contact) %></title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
      This is the contact page
  </body>
</html>
